<div class="row" *ngIf="userInfo">
    <div class="col-4">
        <h1>Your profile</h1>
    </div>
    <div *ngIf="editForm" class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty && !editForm.submitted">
            <strong>
                Information: 
            </strong> You have made changes. Any unsaved changes will be lost.
        </div>
    </div>
    <div class="col-4">
        <div class="card">

            <div class="card-body">
                <div>

                    <strong>Username: </strong>
                    <p>{{user.username}}</p>
                </div>
                <div>
                    <strong>Is in current roles: </strong>
                    <div>
                        <span *ngFor="let role of user.roles">{{role}} </span>
                    </div>
                </div>
                <div>

                    <strong *ngIf="userInfo.managerName">Manager: </strong>
                    <p>{{userInfo.managerName}}</p>
                </div>



            </div>
            <div class="card-footer">
                <button [disabled]="!accountForm.valid || !accountForm.touched" form="editForm" type="submit" class="btn btn-success  btn-block">Save changes</button>

            </div>
        </div>
    </div>
    <div class="col-8">


        <form id="editForm" [formGroup]="accountForm" #editForm="ngForm" (ngSubmit)="accountForm.valid && updateUser()" autocomplete="off">
            <h5>First Name</h5>
            <app-text-input [formControl]='$any(accountForm).controls["firstName"]' [label]='"First Name"'></app-text-input>
            <h5>Last Name</h5>
            <app-text-input [formControl]='$any(accountForm).controls["lastName"]' [label]='"Last Name"'></app-text-input>
            <h5>Phone Number</h5>
            <app-text-input [formControl]='$any(accountForm).controls["phoneNumber"]' [label]='"Phone Number"'></app-text-input>

            <div class="container row mt-2" *ngIf="validationErrors.length > 0">
                <ul class="text-danger">
                    <li *ngFor="let error of validationErrors;">
                        {{error}}
                    </li>
                </ul>
            </div>
        </form>



    </div>
</div>